.my-projects-list {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 260px 260px;
    grid-gap: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.project-list-item{
    height: 200px;
    width: 260px;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
    font-family: 'Manjari',
    sans-serif !important;
}

.proj-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-list-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.slider-container .image-container:hover {
    transform: unset;
    cursor: pointer;
}

.my-projects-bottom .slider-container{
    width: 400px;
    height: 300px;
}

.slider-container .project-list-item {
    box-shadow: none;
    height: 300px;
}

.slider-container .project-list-item p{
    height: 40px;
}

.project-list-item p{
    background-color: #F7F7F7;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

@media (max-width: 1200px) {

    .my-projects .slick-prev:before{
        right: 15px !important;
    }
    .my-projects .slick-next:before {
        left: 10px !important;
    }

    .my-projects .slick-list {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .my-projects-list {
        display: none;
    }

    .project-list-item:hover {
        transform: scale(1);
        cursor: pointer;
    }

    .my-projects-bottom .slider-container {
        width: 700px;
        height: 400px;
    }

    .slider-container .project-list-item {

        height: 300px;
    }

    .mobile {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 40px 1fr !important;
    }
    
    .mobile .proj-img {
        width: 350px;
        grid-column: 1/2;
        object-fit: cover;
    }

    .mobile .title {
        grid-column: 1/3;
        width: 100%;
        border-bottom: 2px solid black;
        padding-left: 20px;
        padding-top: 3px;
    }

    .mobile .test {
        width: 350px;
        height: 262.5px;
        background: #F7f7f7;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
        align-items: center;
        justify-items: center;
    }

    .mobile .test .prev-icons{
        width: 80%;
        margin: 0;
    }

    .mobile .test .white-rec{
        margin-right: 0;
        background-color: white;
        height: 80%;
        width: 80%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: flex-start;
        grid-column: span 2;
    }
}

@media (max-width: 900px) {

    .my-projects-bottom .slider-container {
        width: 600px;
        height: 265px;
    }

    .slider-container .project-list-item {

        height: 265px;
    }

    .mobile .proj-img {
        width: 300px;
    }

    .mobile .test {
        width: 300px;
        height: 225px;
        grid-template-rows: 30px 1fr;
    }

    .mobile .test .prev-icons {
        width: 80%;
        margin: 0;
        margin-top: 10px;
        height: 30px;
    }

    .mobile .test .white-rec {
        height: 70%;
    }
}

@media (max-width: 768px) {

    .my-projects-bottom .slider-container {
        width: 300px;
        height: 485px;
    }

    .slider-container .project-list-item {
        height: 485px;
    }

    .mobile {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 40px 1fr 1fr !important;
    }

    .mobile .proj-img {
        width: 300px;
        grid-column: auto !important;
    }

    .mobile .title {
        grid-column: auto;
    }

    .mobile .test {
        grid-column: auto;
        width: 300px;
        height: 222.5px;
    }
}

@media (max-width: 480px) {


    .my-projects-bottom .slider-container {
        width: 231px;
        height: 386px;
        position: relative;
    }

    .my-projects-bottom {
        justify-items: center;
    }

    .slider-container .project-list-item {
        height: 386px;
    }

    .mobile .proj-img {
        width: 231px;
        height: 173px;
        object-fit: cover;
    }


    .mobile .test {
       
        width: 231px;
        height: 173px;
    }

    .mobile .test p{
        margin:0;
        width: 190px;
        height: 143px;
        margin-top: 10px;
    }
}

@media (max-width: 350px) {
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
}