.contact {
    height: 100vh;
    background: linear-gradient(180deg, rgba(216, 66, 219, 0) 21%, #D3AEAE 100%);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    height: 400px;
    font-family: 'Manjari',
    sans-serif;
    position: relative;
    align-self: center;
    top: 10%;
}

.logo-container {
    width: 60%;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}

.contactme-logo {
    bottom: unset;
    left: calc(100% - 200px);
    right: unset;
    top: 80px;
}

.details-right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.details-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-text {
    font-size: 25px;
    line-height: 1.4;
    margin-top: 100px;
}

@media (max-width: 1200px) {

    .contact-details {
        width: 70%;
    }
}

@media (max-width: 1024px) {

    .contact-text {
        font-size: 20px;
        line-height: 1.4;
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .contact-details {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    .contactme-logo {
        bottom: unset;
        left: 50px;
        right: unset;
        top: 80px;
    }

    .contact-text {
        width: 70%;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .details-right {
        align-items: center;
        flex-direction: column;
    }

    .details-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .contact-text {
        width: 90%;
        
    }

    .contact-details {
        margin-top: 50px;
    }

    .contactme-logo {
        position: relative;
        left: unset;
        width: 250px;
        height: 70px;
    }

}