.contact {
    height: 100vh;
    background: linear-gradient(180deg, rgba(216, 66, 219, 0) 21%, #D3AEAE 100%);
    position: relative;
    display: grid;
    grid-template-rows: 150px 1fr 50px;
    align-items: center;
    justify-items: center;
    position: relative;
    min-height: 700px;
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    width: 60%;
    font-family: 'Manjari',
    sans-serif;
    position: relative;
    align-self: center;
}

.logo-container {
    width: 60%;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}

.contactme-logo {
    bottom: unset;
    left: calc(100% - 200px);
    right: unset;
    top: 80px;
}

.details-right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.details-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.contact-text {
    font-size: 25px;
    line-height: 1.4;
    margin: 0;
}

@media (max-width: 1200px) {

    .contact-details {
        width: 70%;
    }
}

@media (max-width: 1024px) {

    .contact-text {
        font-size: 20px;
        line-height: 1.4;
       
    }
}

@media (max-width: 768px) {

    .contact {
        min-height: 700px;
    }

    .contact-details {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    .contactme-logo {
        bottom: unset;
        left: 50px;
        right: unset;
        top: 80px;
    }

    .contact-text {
        width: 70%;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .details-right {
        align-items: center;
        flex-direction: column;
    }

    .details-left {
        align-items: center;
    }
}

@media (max-width: 480px) {

    .contact {
        min-height: 550px;
        display: flex;
        flex-direction: column;
    }

    .contact-text {
        width: 90%;
        position: relative;
        top: 40%;
       
    }

    .contact-details {
        margin: 0;
        height: 65%;
    }

    .details-right{
        margin-top: 100px;
    } 
        

    .contactme-logo {
        position: relative;
        left: unset;
        width: 250px;
        height: 70px;
    }

}

@media (max-width: 350px) {
    .contact-text {
        top: 60%;
        font-size: 14px;
    }
}