.ue-scroll {
    font-size: 80px;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 49%;
}

@media (max-width: 1024px) {
    .ue-scroll {
       left: 48%;
    }
}
@media (max-width: 768px) {
    .ue-scroll {
        left: 46%;
    }
}
@media (max-width: 480px) {
    
   .ue-scroll {
       left: 44%;
   }
}

@media (max-width: 350px) {

    .ue-scroll {
        left: 43%;
    }
}