.image-container {
    overflow: hidden;
}
.image{
    width: 45%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: opacity 0.5s ease-in 1s;
    position: absolute;
    right: 10vw;
    bottom: 0px;

}
/*  work on animating opacity */

@media (max-width: 1200px) {
    .image {
        display: none
    }
}