.image-container {
    overflow: hidden;
}

.image {
    width: 45%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: opacity 0.5s ease-in 1s;
    position: absolute;
    right: 10vw;
    bottom: 0px;

}

/*  work on animating opacity */

@media (max-width: 1200px) {
    .image {
        width: 50%;
        right: 0;
    }
}

@media (max-width: 1024px) {
    .image {
        width: 60%;
        right: 0;
    }
}

@media (max-width: 768px) {
    .image {
        width: 70%;
        right: 100px;
    }
}

@media (max-width: 480px) {
    .image {
        width: 100%;
        right: 0;
    }
}