.header {
    width: 100%;
    position: relative;
}

.icons {
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
}

.icons a {
    color: black;
    font-size: 40px;
    margin-left: 20px;
}

.icons .flag {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.icons a:any-link {
    color: black;
}

.icons a:-webkit-any-link {
    color: black;
}

.icons .icon {
    transition: all 0.2s ease-in-out;
}

.icons .icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

