.home-container {
    display: block;
    height: 100vh;
    background: linear-gradient(180deg, #D3AEAE 0%, rgba(216, 66, 219, 0) 81.25%);
    overflow: hidden;
    position: relative;
}

.my-name {
    width: 350px;
    height: 150px;
    position: absolute;
    top: 20%;
    font-weight: 700;
    left: 200px;
    font-size: 60px;
    font-family: "Roboto",
        sans-serif;
}

.home-logo {
    position: absolute !important;

}

.home-container .logo::before {
    z-index: -1;
}

.home-container .logo::after {
    z-index: -1;
}

.home-container .logo {
    z-index: 1;
}

@media (max-width: 1200px) {
    .home-container .home-logo {
        position: absolute !important;
        left: 100px;
    }
}

@media (max-width: 1024px) {
    .home-container .home-logo {
        left: 50px;
    }
}

@media (max-width: 768px) {
    .home-container .home-logo {
        left: 50px;
        top: 20%;
    }
}