.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
    background-color: #F7F7F7;
    position: relative;
    width: 100%;
}

.aboutme-logo {
    width: 300px;
    height: 100px;
    top: 20%;
    font-weight: 700;
    left: 200px;
    font-size: 60px;
    position: relative;
}

.aboutme-logo::before {
    content: '';
    height: 80px;
    width: 150px;
    background-color: #FD85FF;
    position: absolute;
    z-index: 0;
    left: -20px;
    top: 5px;
}

.aboutme-logo::after {
    content: '';
    height: 80px;
    width: 150px;
    border: solid 1px black;
    position: absolute;
    z-index: 1;
    left: -15px;
    top: -5px;
}

.aboutme-logo p {
    position: relative;
    z-index: 0;
}

.aboutme-logo:hover::before {
    transform: translateY(-10px) translateX(10px);
}

.aboutme-logo::after,
.aboutme-logo::before {
    transition: transform 0.2s ease-out 0s;
}

.aboutme-logo:hover::after {
    transform: translateY(10px) translateX(-10px);
}

.aboutme-description {
    position: absolute;
    top: 50%;
    width: 450px;
    left: 220px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    font-family: 'Manjari',
    sans-serif;
}

.aboutme-description a{
    color: #FD85FF;
}

.aboutme-description a:any-link {
    color: #FD85FF;
    text-decoration: none;
}