.contact {
    height: 100vh;
    background: linear-gradient(180deg, rgba(216, 66, 219, 0) 21%, #D3AEAE 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drag-top {
    font-size: 80px;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

.contact-details {
    display: grid;
    grid-template-columns: 400px 600px;
    width: 60%;
    height: 400px;
    font-family: 'Manjari',
    sans-serif;
    position: relative;
}

.contactme-logo {
   bottom: unset;
   left: unset;
   position: absolute;
   top: 100px;
   right: 100px;
}

.details-right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.details-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-text {
    font-size: 25px;
    line-height: 1.4;
    margin-top: 100px;
}

