.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-gallery .gal-image {
    width: 300px;
    position: absolute;
    border: solid 4px #F7F7F7;
}

.image-gallery .one {
    left: 50px;
    bottom: 150px;
}

.image-gallery .two {
    left: 70px;
    top: 200px;
}

.image-gallery .three {
    left: 350px;
}


