.my-projects {
    max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 90%;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.my-projects-logo {
    position: relative;
    left: 100px;
    bottom: unset;
}

.my-projects-side {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr
}

.my-projects-preview {
    background-color: #F7F7F7;
    height: 450px;
    width: 400px;
    position: relative;
    bottom: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.my-projects-preview .rec {
    background-color: white;
    width: 70%;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: black 2px solid;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.my-projects-preview .big-rec {
    height: 80px;
    margin-top: 0px;
    border: none;
}

.my-projects-list {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    height: 100%;
}

.project-list-item{
    height: 200px;
    width: 260px;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-item {
    position: relative;
    top: 100px;
}

.bottom-item {
    position: relative;
    bottom: 50px;
}

.project-list-item p{
    background-color: #F7F7F7;
}