.my-projects {
    max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 90%;
    align-items: center;
    font-family: 'Manjari',
    sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.my-projects-logo {
    position: relative;
    left: 100px;
    bottom: unset;
}

.my-projects-side {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr
}



